# Untracked directories

/logs/
*.log
*.log.txt
*log.txt
*.log.*
*.npm.*
.*input*
*cache/
*.axs.*
*.devnote*
*node_modules*
*output*
*.tree*
/frontend/
/raw_storage/
/module/__pycache__/
*__pycache__/
/quaratine/
/uploads/
/frontend/
/
*1.pdf*
*.dev-note*
*package.lock.json*

# Runtime build artifacts
/node_modules/
output/

dist
coverage/
.DS_Store
Thumbs.db
*.tmp
*.swp
*.py
Playground/frontend/build/assets/
